.tabsMenu{
    margin-top:24px;
    position:relative;
     z-index: 99;    
}
.tabContentWrapeed{
    margin:14px;
    padding:10px 30px 30px 30px;
    box-sizing:border-box;
}
.tabsMenu {
    :global{
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-ink-bar + .ant-tabs-tab{margin-left:100px}        
    }
}
